.App {
  text-align: center;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header{
  display: flex;
  justify-content: space-evenly;
}
.light{
  background-color:white;
  color: black;
}


.dark{
  background-color: grey;
  color: beige;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
.back-button{
  background-color: rgb(82, 51, 153);
  color: #fff;
}
.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(33, 18, 39);
  color: #fff;
}
.Country {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5px 20px;
  color: white;
  /* align-items: center; */
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  /* transition: all 1s ease-in-out; */
  cursor: pointer;
}
/* .Country:hover {
  transform: scale(1.1);
} */
img{
  width: 100%;
  height: auto;
}
p{
  margin: 3px;
}
/* .CountryDetails {
  display: flex;
  margin: 0 auto;
} */
.CountryInformationDisplay {
  display: block;
  margin: 0 auto;
  width: 30rem;
}
.describe{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
